@font-face {
    font-family: 'EdmundsRegular';
    src: url('edmunds-webfont.eot');
    src: local('☺'), url('edmunds-webfont.woff') format('woff'), url('edmunds-webfont.ttf') format('truetype'), url('edmunds-webfont.svg#webfontYbGsEbps') format('svg');
    font-weight: normal;
    font-style: normal;
}
.clear{
    clear:both;
}

body{
	font-family: "Times New Roman" serif;
    padding:0px;
    margin:0px;
}
#contentDiv{
    position:absolute;
    left:50%;
    margin:0px;
    margin-left:-410px;
    padding:20px;
    width:820px;
    background-color:white;
}
.titleDiv{
    text-align:left;
    padding:10px;
    margin:0px;
}
#titleImg, #titleText{
    margin:0px;
    padding:0px;
}
#titleImg{
    float:left;
}
#titleText{
    text-align:center;
    float:right;
    width:600px;
}
#titleText h1{
    margin:0px;
}
img.appIcon{
    height:192px;
    width:192px;
}
img.icon{
    height:64px;
    vertical-align:-30%;
    border:0;
}
img.screenshot{
    width:720px;
}
body{
    color:#000000;
    background-color:#000000;
    text-align:center;
    font-size:125%;
    font-family:"Times New Roman", "Times", serif;
}
p{
    text-indent:50px;
    text-align:justify;
}
.bigList{
    font-family:"EdmundsRegular";
    font-size:125%;
    font-weight:normal;
    text-align:left;
    line-height:200%;
}

.menuItem{
    float:left;
    margin:0px;
    padding:0px;
    width:33.33%;
}
.menuHref, .menuSelfHref{
    font-family:"EdmundsRegular";
    font-size:150%;
    text-decoration:none;
}

a:link, a:visited{color:#000000;}
a:hover, a:active{color:rgb(255,158,19);}
a.menuSelfHref:link, a.menuSelfHref:visited{color:#ff0000;}
a.menuSelfHref:hover, a.menuSelfHref:active{color:rgb(255,158,19);}

th{
    font-family:"EdmundsRegular";
    font-size:150%;
    padding:16px;
    text-align:center;
}

.key{
    font-family:"EdmundsRegular";
    font-size:150%;
    text-align:center;
}
.value{
    text-align:center;
}
em{
    font-family:"EdmundsRegular";
    font-style:normal;
}
div.controls{
    text-align:center;
}
table.keyBindings{
    margin:10px auto 10px auto;

    text-align:left;
    border-collapse:separate;
}

table{
    border-collapse:collapse;
    margin:0 auto 0 auto;
    padding:0;
    border:0;
    text-align:left;
}
h1,h2,h3,h4,h5,h6{
    font-family:"EdmundsRegular";
    font-weight:normal;
}
.bordered{
    padding: 0px;
    display:block;
    border:32px black;
    -moz-border-image:url("border.png") 32 repeat;
    -webkit-border-image:url("border.png") 32 repeat;   
    -o-border-image:url("border.png") 32 repeat;   
    border-image: url("border.png") 32 repeat;
}
h1{
    font-size:350%;
}
h2{
    font-size:300%;
}
h3{
    font-size:200%;
}
h4{
    font-size:150%;
}
h5{
    font-size:125%;
}
h6{
    font-size:100%;
}

.content{
    text-align:center;
}
